# SenNet
ENTITY_ID_NAME = "sennet_id"
EXAMPLE_ENTITY_ID = "SNT488.NKTR.326"
INGEST_WEBSERVICE_URL = "http://127.0.0.1:5000/"

PKG_NAME = "sennet-clt"
PKG_VERSION = "1.1.3"
PKG_AUTHOR = "SenNet"
PKG_AUTHOR_EMAIL = ""

INSTALLATION_DOCS_URL = ""
MANIFEST_DOCS_URL = ""
USAGE_DOCS_URL = ""