# HuBMAP
ENTITY_ID_NAME = "hubmap_id"
EXAMPLE_ENTITY_ID = "HBM744.FNLN.846"
INGEST_WEBSERVICE_URL = "http://127.0.0.1:5000/"

PKG_NAME = "hubmap-clt"
PKG_VERSION = "1.1.3"
PKG_AUTHOR = "HuBMAP"
PKG_AUTHOR_EMAIL = "api-developers@hubmapconsortium.org"

INSTALLATION_DOCS_URL = "https://software.docs.hubmapconsortium.org/clt/install-hubmap-clt.html"
MANIFEST_DOCS_URL = "https://software.docs.hubmapconsortium.org/clt/index.html#manifest-files"
USAGE_DOCS_URL = "https://software.docs.hubmapconsortium.org/clt/index.html"