# {PKG_AUTHOR} Command-Line Transfer

---

{PKG_AUTHOR} Command-Line Transfer (CLT) is a command-line interface (CLI) to download multiple files and directories from the Globus file transfer service. The CLT initiates a transfer from a Globus endpoint to the [Globus Connect Personal](https://www.globus.org/globus-connect-personal) application.

## Overview

{PKG_AUTHOR} CLT uses the [Globus CLI](https://docs.globus.org/cli/) to transfer files using a manifest file. More details on the manifest file can be found [here]({MANIFEST_DOCS_URL}).


## Installation and Usage

### Requirements
- Globus Account
- [Globus Connect Personal](https://www.globus.org/globus-connect-personal) 
- {PKG_AUTHOR} CLT

### Documentation
Detailed documentation on installation and usage can be found at the following links:
- [Installing {PKG_AUTHOR} CLT]({INSTALLATION_DOCS_URL})
- [Using {PKG_AUTHOR} CLT]({USAGE_DOCS_URL})